.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.titled-pane {
    -fx-effect: dropshadow(gaussian, #555555, 10, 0, 2, 2);
}

.titled-pane>.title {
    -fx-background-color: cornflowerblue;
    -fx-font-weight: bold;
}

.titled-pane>.title>.arrow-button .arrow {
    -fx-background-color: white;
}

.titled-pane>*.content {
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
}

/* ------- ChoiceBox styles ------- */

ChoiceBox {
    -fx-font-size: 18px;
    -fx-background-color: white;
}

ChoiceBox:hover {
    -fx-cursor: hand;
}

#timeWindowChoice,
#courierChoice,
#modifyTimeWindowChoice,
#modifyCourierChoice {
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-radius: 3px;
}

ChoiceBox .menu-item:focused { -fx-background-color: rgb(150, 150, 150); }
ChoiceBox .menu-item:focused > .label { -fx-text-fill: white; }

/* ------- Pane styles ------- */

#validationPane,
#modifyPane {
    -fx-background-color: white;
}



/* ------- Button styles ------- */

Button {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s;
    /* Add transition for all properties over 0.3 seconds */
}

Button:hover,
#mapChoiceBox:hover {
    -fx-scale-x: 1.1;
    /* Scale effect on hover */
    -fx-scale-y: 1.1;
}

#buttonList {
    -fx-background-color : white;
    -fx-background-radius:5px;
    -fx-border-radius:5px;
    -fx-border-width:2px;
    -fx-border-color : rgb(100,149,237);
}

#loadTourButton, #computeTourButton, #saveGlobalTourButton {
    -fx-border-radius: 5px;
    -fx-border-color: rgb(100,149,237);
    -fx-border-width: 2px;
    -fx-background-color :white;
}

#loadTourButton:hover, #computeTourButton:hover, #saveGlobalTourButton:hover {
    -fx-background-color :rgb(100, 149, 237);

}

#validationButton,
#modifyButton {
    -fx-background-color: rgb(50, 140, 50);
    -fx-text-fill: white;
}

#cancelButton,
#deleteButton {
    -fx-text-fill: white;
    -fx-background-color: rgb(255, 56, 56);
}

/* ------- Group styles ------- */

#tourListGroup {
    -fx-margin: 50px;
    -fx-spacing: 10px;
}

#groupScrollable {
    -fx-padding: 10 50 0 0;
}

/* ------- ScrollPane styles ------- */

#scrollPane {
    -fx-background-color: transparent;
}

#scrollPane>.viewport {
    -fx-background-color: transparent;
}

/* ------- Label styles ------- */

Label {
    -fx-alignment: center;
}

DeliveryPointLabel:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}

/* ------- Font styles ------- */

#mapChoiceBox {
    -fx-border-radius : 5px;
    -fx-border-color :  rgb(100,149,237);
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

/* #mapChoiceBox .label{    
    -fx-text-fill: rgb(100,149,237);
} */

ChoiceBox .menu-item:focused { -fx-background-color: rgb(150, 150, 150); }
ChoiceBox .menu-item:focused > .label { -fx-text-fill: white; }

#alertPane {
    -fx-padding: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: rgba(255, 255, 255, 0.90);
}

#courierChangeAlert {
    -fx-fill: rgb(25, 110, 205);
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

#courierAlertTitle {
    -fx-fill: rgb(30, 30, 30);
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}