/* Styles pour le GridPane (conteneur principal) */
GridPane {
    -fx-background-color: rgb(40, 40, 40);
}

/* Styles pour le Label avec la classe "title" */
.title {
    -fx-font-size: 24px; /* Taille de police en pixels, ajustez selon vos besoins */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-text-fill: white; /* Couleur du texte en blanc */
}

/* Styles pour les boutons et les étiquettes */
Button, RadioButton, Label {
    -fx-font-size: 16px; /* Taille de police pour les boutons et les étiquettes */
    -fx-text-fill: white; /* Couleur du texte en noir */
}

Button {
    -fx-background-color: white;
    -fx-text-fill: black;
}

Button:hover {
    -fx-text-fill: red;
}
